.header {
    background: #00d188;
    padding: 12px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo_img {
    width: 160px;
    height: auto;
}

.spacer {
    flex: 1;
}

nav {
    display: flex;
    justify-content: flex-end;
}

.nav_links {
    list-style: none;
    display: flex;
    gap: 23px;
    font-size:medium;
    margin: 0;
    padding: 0;
}

.nav_links li a,
.logout_button {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.nav_links li a:hover,
.logout_button:hover {
    color: #036044;
}

.logout_button{
    background: none;
    border: none;
    font-size: medium;
    cursor: pointer;
}